# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDE
.idea/
.vscode/
.DS_Store
*.pem

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Build
/ios
/android
*.tsbuildinfo
